.link {
  color: #d22e2e;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.ital {
  font-style: italic;
}

.split {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 auto;
	justify-content: flex-start;
}

#about-table{
	min-width: 280px;
	margin: 0 auto;
}

td{
	padding: 0 8px;
	text-align: center;
}
th{
	padding: 0 8px;
}
