/* only need if I choose to use pure css instead of material ui */
.lg-logo {
  width: 100px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorsList {
  margin-top: 0px;
  margin-bottom: 18.76px;
  color: red;
}
