/* only need if I choose to use pure css instead of material ui */
.lg-logo {
  width: 100px;
}

.auth__head{
	font-size: 28px;
	font-weight: bold;
  text-align: center;
	margin-top: 16px;
}
.auth__subhead{
  text-align: center;
	font-size: 28px;
	margin-top: 16px;
	margin-bottom: 8px;
}

form,
TextField:-webkit-autofill
 {
  display: flex;
  flex-direction: column;
	width: 100%;
}

div.MuiInputBase-root {
	margin: 0 0 8px;
}

.errorsList {
  margin-top: 0px;
  margin-bottom: 18.76px;
  color: red;
}
