.workout-history-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.workout-history__header{
	/* border-bottom: 1px solid black; */
	/* padding-bottom: 30px; */
	margin-bottom: 18.76px;

}

.workout-history__workouts-container{
	/* display: flex;
	flex-direction: column; */
	/* align-items: center; */
	/* justify-content: center; */
	/* change width in future */
	/* width: 800px; */
	/* align-items: center; */
	/* box-sizing: border-box; */
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	/* width: 1000px; */
	min-width: 800px;
	margin-bottom: 16px;
}


.workout-history__workout-container{
	display: flex;
	/* margin-bottom: 6px; */
	padding-bottom: 6px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding-top: 6px;

	/* align-items: center; */
	/* change width in future */
}

.workout-history__workout-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid orange; */
	/* change width */
	width: 150px;
}

.workout-history__exercises-container{
	display: flex;
	justify-content: space-between;
	/* border: 1px solid blue; */
	/* align-items: flex-start; */
	width: 100%;

}

.workout-history__exercise-container{
	display: flex;
	width: 100%;
	margin: 0px 12px;
	justify-content: space-between;
	/* align-items: flex-start; */
	/* border: 1px solid red; */
	flex-direction:column;
}


.workout-history__exercise-info{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.deload, .fail{
	color: red;
}

.workout-history__sets-container{
	display:flex;
	justify-content: space-around;
	padding: 0 20px;
}

.workout-history__button-container{
	display: flex;
	width: 20%;
}

.workout-history__button{
	color: white;
	background-color: #d22e2e;
	padding: 10px;
	margin: 0 4px;
	font-weight: 500;
	border-radius: 5px;
	border: 2px solid #d22e2e;
	transition: transform 0.5s ease-out;
  transition: border 0.5s ease-out;
}

.workout-history__button:hover{
	cursor: pointer;
	border-color: black;
	/* rgb(240, 46, 46); */
	transform: translate(2px,-2px);


}
