.graph {
	/* height: 500px; */
	/* width: 500px; */
	border: 1px solid blue;
}

.data-line {
	stroke:#D22E2E;
	stroke-width:1.5;
}

.data-point{
	stroke: #D22e2e;
	background-color:#D22e2e;
	color: #d22e2e
}
/* transform-origin: 20px 200px; */
.y-label-title{
	text-anchor: middle;
	/* transform-origin: center; */
	transform:rotate(-90deg);
}
.grid{
	stroke: black;

}
.dummy-grid{
	stroke: orange;
}

.y-labels, .x-labels{
	text-anchor: middle;
}
