/* only need if I choose to use pure css instead of material ui */
.lg-logo {
  width: 100px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

form,
TextField:-webkit-autofill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__title{
	font-size: 24px;
	font-weight: bold;
}

.form__intro{
	font-size: 16px;
	text-align: center;
}

.errorsList {
  margin-top: 0px;
  margin-bottom: 18.76px;
  color: red;
}

/* only need if I choose to use pure css instead of material ui */
.lg-logo {
  width: 100px;
}

form,
TextField:-webkit-autofill {
	margin-top: 20px;
  display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	align-items: space-between;
	padding-left: 10px;
	padding-right: 10px;

}
.inputItem {
	padding: 8px 0 8px 0;
	/* padding-left: 8vw; */
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items:center;
}

.inputItem__label{
	margin-left: 2vw;
}

div.MuiFormLabel-root,
div.MuiSelect-root {
  /* margin: 0 0 8px; */
}
